.App {
  text-align: center;
}

.weather-app {
  display: block;
  justify-content: center;
  text-align: center;
  background-color: rgb(80, 29, 128);
  padding: 20px;
  width: 400px;
  margin: 40px auto;
  border-radius: 5px;
}

.weather-details {
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

.search-city {
  padding: 12px;
  font-size: 16px;
}

.search-button {
  font-size: 16px;
  padding: 12px 10px;
  color: blueviolet;
}
